<h2>Favorites list</h2>
<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Picture</th>
    <th>User</th>
  </tr>
  <tr>
    <% @favorite.each do |favorite| %>
    <td><%= favorite.picture.title%></td>
    <td><%= favorite.picture.content%></td>
    <td><%= image_tag favorite.picture.image.url%></td>
    <td><%= favorite.picture.user.name%></td>
  </tr>
<% end %>
</table>
