<div class="profile-wrap">
  <div class="row">
    <div class="col-md-10">
      <% provide(:title, @user.name) %>
      <h1>

          <%= @user.image %>
        
        <%= @user.name %>
        <%= link_to "投稿一覧", pictures_path %>
        <%= link_to "お気に入り一覧", favorites_path %>
      </h1>
    </div>
  </div>
</div>
